/*** Tämä on CSS tyylitiedosto ***/



div {
    border: 1px solid white;
}

body {

    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Nyt {
    /* Layout Properties */
    position:fixed;
top: 1px;
left: 260px;

/* UI Properties */
text-align: left;
font: normal normal normal 180px/192px Lato;
letter-spacing: 0px;
color: #00B207;
opacity: 1;
}
.Seuraava {
    /* Layout Properties */
    position:fixed;
top: 460px;
left: 46px;
width: 125px;
height: 48px;
/* UI Properties */
text-align: left;
font: normal normal normal 40px/48px Lato;
letter-spacing: 0px;
color: #FF0000;
opacity: 1;
}
.Seuraava2 {
    position:fixed;
    top: 460px;
left: 830px;
width: 102px;
height: 48px;
text-align: left;
font: normal normal normal 40px/48px Lato;
letter-spacing: 0px;
color: #FFB100;
opacity: 1;
}
.tunti1 {
    position:fixed;
    top: 420px;
left: 46px;
width: 242px;
height: 35px;
text-align: left;
font: normal normal normal 30px/36px Helvetica Neue;
letter-spacing: 0px;
color: #3b3a3a;
opacity: 1;
}
.tunti2 {
    position:fixed;
    top: 420px;
    left: 830px;
    width: 81px;
    height: 35px;
    text-align: left;
    font: normal normal normal 30px/36px Helvetica Neue;
    letter-spacing: 0px;
    color: #3b3a3a;
    opacity: 1; 
}